.dataForRegistr,
.tableUsers {
  width: 700px;
  text-align: center;
  min-height: 550px;
  margin: 10px 5px;
  padding: 20px;
}
.dataForRegistr{
  text-align: left;
  padding: 20px 100px;

}
.userList{
    display: flex;
    justify-content: center;
}
