<ul class="nav nav-tabs">
  
    <li class="nav-item">
      <a class="nav-link active" [routerLink]="[ 'cenzor']" routerLinkActive="active">Cenzor</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="[ 'tasklist']" routerLinkActive="active">Tasks</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="[ 'userlist']" routerLinkActive="active">Users</a>
    </li>

    <a  class = "backToHome" [routerLink]="[ '/home']">Back to >>> Home</a>
      <!-- <button  class = "backToHome" type="button">Back to >>> Home</button> -->
    
  </ul>

 

  <router-outlet></router-outlet>